.App {
  text-align: center;
}

.particles-bg-canvas-self {
  background: rgb(100, 133, 255);
  background: linear-gradient(
    0deg,
    rgba(100, 133, 255, 1) 0%,
    rgba(54, 76, 140, 1) 10%,
    rgba(0, 0, 0, 1) 70%
  );
  width: 100%;
  filter: blur(1px);
}
