# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/src/creds/mailing-creds.json
client/dist
client/dist-ssr
*.local

# Editor directories and files
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?

# server ignores
server/creds/creds.json
server/creds/redirect_url.json
server/creds/mailing-creds.json
server/node_modules