body {
  background-color: rgb(0, 59, 91);
}

.counter {
  margin-top: 20px;
}

.content-wrapper {
  width: 90%;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.search-bar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 80%;
}

.news-entries {
  border-top: 1px solid #ccc;
  margin-top: 100px;
  margin-bottom: 20px;
}