.search-bar {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: transparent;
  height: 40px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: ghostwhite;
  padding-left: 10px;
}
