a {
  color: ghostwhite;
  background-color: rgba(101, 101, 101, 0.5);
  text-decoration: none;
  border: 1px solid gray;
  border-bottom: 3px solid gray !important;
  border-right: 3px solid gray !important;

  padding: 5px;
  border-radius: 2px;
  transition: all 0.1s ease-in-out;
}

a:hover {
  border-bottom: 5px solid gray !important;
  border-right: 5px solid gray !important;
  border-color: rgba(208, 208, 208, 0.5);
  transform: translateX(100px) !important;
}
