.container {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background-color: rgba(29, 0, 16, 0.8);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid rgb(46, 0, 46);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
