body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: ghostwhite;
}

code {
  font-family: "Montserrat", sans-serif;
}

a {
  color: ghostwhite;
  text-decoration: none;
}

a:hover {
  color: #ffbe6a;
}
