body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: ghostwhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: ghostwhite;
  text-decoration: none;
}

a:hover {
  color: #ffbe6a;
}

button {
  background-color: transparent;
  border: 1px solid ghostwhite;
  color: ghostwhite;
  font-size: 8pt;
  border-radius: 10px;
}

button > p {
  color: ghostwhite;
  font-size: 12pt;
  margin: 0;
  padding: 15px;
  padding: 15px;
}
